.main {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    padding: 8px;
    opacity: 0%;
    transition: 0.5s ease-out;
}

.item {
    width: 400px;
    height: auto;
    background: white;
    box-shadow: 0px 4px 15px 0px darkgray; 
    margin: 12px;
    border-radius: 10px;
}

.inner-item {
    width: 100%;
    text-align: center;
    height: 350px;
    position: relative;
}

.info { 
    height: 200px;
    text-align: left;
    padding: 8px;
}

.info > p {
    padding: 8px;
    word-wrap: break-word;
}

.desc {
    font-size: 14px;
    margin-top: -12px;
    color: gray;
}

.inner-item > img {
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: 200px;
}

.download {
    width: 100px;
    height: 20px;
    padding: 8px;
    margin: 16px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: black;
    background: white;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 8px 0px lightgray;
}

.download:hover {
    background: rgb(78, 78, 78);
    color: white;
}