@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.contents {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow: auto;
}

@media (max-width: 640px) {
    .profile-img {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .profile-img {
        width: 70%;
    }
}

.profiles-detail {
    display: block;
    font-size: 24px;
    color: whitesmoke;
}

.profiles-detail p {
    margin-bottom: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 0px black;
    font-family: 'NanumSquare';
}