@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* { padding: 0; margin: 0; overflow: hidden;}

.main-content {
    height: auto;
    padding: 16px;
    font-family: 'NanumSquare';
}

.quiz-main {
    width: 100%;
}

.quiz-status {
    font-size: 26px;
    color: green;
}

.buttonDiv {
    padding: 4px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.div-quiz {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.quiz-problem-flag {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countryFlag {
    width: 20%;
    height: auto;
    box-shadow: 0px 0px 15px 8px rgb(219, 219, 219);
}

.form-select {
    padding: 10px;
    margin: 2px;
}

#quiz-select {
    width: 40%;
}

#time-select {
    width: 25%;
}

.div-timer {
    width: 100px;
    font-size: 35px;
}

.quiz-problem {
    width: 100%;
    margin: 4px;
    font-size: 26px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem-table {
    display: flex;
    list-style: none;
}

.problem-table > li {
    display: flex;
    flex-direction: row;
    color: white;
    background: goldenrod;
    width: 40px;
    height: 40px;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    border: 2px solid lightgrey;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

#btnStart {
    margin: 8px;
}

.btns {
    display: flex;
    padding: 4px;
}

.btn {
    width: 80px;
    height: 40px;
    margin: 4px;
}

.inpText {
    width: 20%;
    height: 40px;
    margin: 4px;
}

.inputs {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify {
    padding: 8px;
}
