@font-face {
    font-family: 'DINPro-CondBold';
    src: url('./resources/DINPro-CondBold.otf') format('opentype');
}
@font-face {
    font-family: 'DINPro-Medium';
    src: url('./resources/DINPro-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'NEXON-Lv2-Gothic';
    src: url('./resources/NEXON-Lv2-Gothic.otf') format('opentype');
}
@font-face {
    font-family: 'CruyffSansCondensed-Bold';
    src: url('./resources/CruyffSansCondensed-Bold.ttf') format('woff');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('./resources/NanumGothic.ttf') format('woff');
}

* { margin:0; padding:0; overflow:hidden; }

.div-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.div-simulator {
    width: fit-content;
    height: fit-content;
    padding: 4px;
}

.simul-main {
    width: 900px;
    height: 500px;
    background: url('./resources/background/bg_normal.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: 0.3s ease-in-out;
    position: relative;
}

.result-text {
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-family: 'NEXON-Lv2-Gothic';
    position: absolute;
    color: white;
    margin-left: -700px;
    margin-top: -400px;
    background: none;
    transition: 0.3s ease-in-out;
}

.critical-text {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-family: 'NEXON-Lv2-Gothic';
    position: absolute;
    color: white;
    margin-left: -650px;
    margin-top: -310px;
    background: none;
    transition: 0.2s ease-in-out;
    background: green;
    opacity: 0%;
}

.main-div {
    width: 256px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
}

#capture {
    width: 256px;
    height: 256px;
    cursor: pointer;
    position: relative;
}

.anim-box {
    width: 256px;
    height: 256px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('./resources/background/anim-box.png');
    opacity: 0%;
    mix-blend-mode: overlay;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.set-player {
    width: 250px;
    height: 220px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    border-radius: 10px;
    z-index: 3;
}

.set-player .div-title {
    padding: 8px;
    color: black;
}

#face-select {
    width: 200px;
}

.popup-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#player-search {
    width: 100%;
    height: 40px;
    background: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-list {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    list-style: none;
    display: none;
    position: absolute;
}

.search-list > li {
    height: auto;
    background: rgb(240, 240, 240);
    padding: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'NanumSquare';
    text-align: left;
}

.search-list > li > img {
    vertical-align: middle;
    margin: 2px;
    object-fit: contain;
}

.search-list > li:nth-child(2n) {
    background: rgb(226, 226, 226);
}

.search-list > li:hover {
    background: darkgray;
}

.open-button {
    width: 45px;
    height: 35px;
    background: gray;
    color: white;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0;
}

#inputPlayer {
    width: 150px;
    margin: 4px;
}

#btnSearch {
    margin: 4px;
}

.inputs {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.apply-div {
    padding: 8px;
}

#btnApply {
    width: 100px;
}

.img-div {
    width: 256px;
    height: 256px;
    z-index: 1;
}

#card-img {
    width: 256px;
    height: 256px;
    object-fit: contain;
}

#card-face {
    width: 256px;
    height: 256px;
    object-fit: contain;
}

.face-div {
    width: 256px;
    height: 256px;
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 0;
    top: 0;
}

.ovr-div {
    width: 80px;
    height: 60px;
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 10px;
    text-align: start;
}

#card-ovr {
    font-family: 'DINPro-CondBold';
    font-size: 50px;
    position: absolute;
    color: white;
}

.pos-div {
    width: 56px;
    height: 25px;
    position: absolute;
    z-index: 2;
    left: 78px;
    top: 166px;
    text-align: center;
}

#card-pos {
    font-family: 'DINPro-Medium';
    font-size: 18px;
    color: white;
}

.icon-div {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 2;
    left: 55px;
    top: 90px;
    display: none;
}

#card-icon {
    width: 48px;
    height: 48px;
}

.flag-div {
    width: 30px;
    height: 18px;
    position: absolute;
    z-index: 2;
    left: 91px;
    top: 240px;
}

#card-flag {
    width: 30px;
    height: 18px;
}

.name-div {
    width: 138px;
    position: absolute;
    z-index: 2;
    left: 60px;
    top: 175px;
    text-align: center;
    display: inline;
}

#card-name {
    font-family: 'NEXON-Lv2-Gothic';
    font-size: 20px;
    color: white;
    align-items: center;
    vertical-align: middle;
}

#card-settings {
    text-align: left;
    font-family: 'NanumGothic';
}

.detail-settings {
    margin: 8px;
}

.check-div {
    margin: 8px;
}

.div-title {
    color: white;
}

.div-gauge {
    width: 100%;
    height: 30px;
    list-style-type: none;
    background: lightgray;
}

.gauge-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.gauge-back {
    width: 300px;
    height: 30px;
    background: green;
    position: absolute;
    z-index: 1;
}

.gauge {
    width: 60px;
    height: 30px;
    cursor: pointer;
}

#gauge1, #gauge2, #gauge3, #gauge4 {
    border-right: 1px solid rgb(30, 30, 30);
}

#gauge {
    background: green;
}

.gauge-control {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4px;
}

.control-btn {
    width: 30px;
    height: 25px;
    background: whitesmoke;
    border: 1px solid dodgerblue;
    text-align: center;
    margin: 3px;
    cursor: pointer;
    color: black;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -.2rem;
}

.control-btn:hover {
    background: dodgerblue;
    color: white;
}

#check-div {
    color: white;
}

.summary {
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    font-family: 'NEXON-Lv2-Gothic';
    position: absolute;
    color: white;
    margin-left: -600px;
    margin-top: 350px;
    background: none;
    transition: 0.3s ease-in-out;
    text-align: left;
}

.bottom-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.checks {
    text-align: left;
}

footer {
    position: absolute;
    font-family: 'NanumGothic';
    color: white;
    bottom: 0;
    font-size: 14px;
   mix-blend-mode: overlay;
}