@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* { padding: 0; margin: 0;}

body {
    font-family: 'NanumSquare';
}

.mainDiv {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    list-style: none;
}

.logoImg {
    width: 128px;
    height: 64px;
}

.userInfo, .selectDiv {
    padding: 8px;
}

.userInfo {
    font-weight: bold;
}

.selectDiv {
    display: flex;
}

.selectDiv > div {
    padding: 4px;
}

.mainDiv {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dataDiv {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.data-table {
    width: 100%;
    margin: 8px;
    border-spacing: 10px;
    text-align: center;
}

.data-table th, td {
    padding: 8px;
    border: 1px solid black;
}

.data-table th {
    background: whitesmoke;
}

.data-table tr {
    cursor: pointer;
}

.data-table > tr:hover {
    box-shadow: 0 0 0 3px goldenrod inset;
}

.data-popup {
    width: 400px;
    height: 300px;
    background: whitesmoke;
    color: black;
    display: none;
    box-shadow: 0px 0px 8px rgb(71, 71, 71);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 4px;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

select {
    padding: 4px;
}

.inputDiv > input {
    margin: 4px;
}

#btn {
    margin-left: 4px;
}

#num-div {
    padding: 4px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: bold;
}

.text {
    padding: 4px;
}

.crown {
    position: absolute;
    text-align: left;
    vertical-align: middle;
}

.crown > img {
    width: 25px;
}