@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'NEXON-Lv2-Gothic';
    src: url('./resources/NEXON-Lv2-Gothic.otf') format('opentype');
}

* { padding: 0; margin: 0;}

.main-content {
    height: 100%;
    overflow: hidden;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-family: 'NanumSquare';
}

ul {
    list-style: none;
}

@media (max-width: 640px) {
    .div-info {
        height: 800px;
    }
    .div-flag {
        width: 100%;
        height: 200px;
    }
    .div-coa {
        width: 100%;
        height: 200px;
    }
    .flag-img {
        width: 120px;
    }
    .coatOfArms {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 992px) {
    .div-info {
        height: 800px;
    }
    .div-flag {
        width: 318px;
        height: 308px;
    }
    .div-coa {
        width: 318px;
        height: 308px;
    }
    .flag-img {
        width: 200px;
    }
    .coatOfArms {
        width: 300px;
        height: 300px;
    }
}

.inputs {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-bottom: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.search-list {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    list-style: none;
    display: none;
}

.search-list > li {
    height: auto;
    background: rgb(240, 240, 240);
    padding: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'NanumSquare';
    text-align: left;
}

.search-list > li > img {
    vertical-align: middle;
    margin: 2px;
}

.search-list > li:nth-child(2n) {
    background: rgb(226, 226, 226);
}

.search-list > li:hover {
    background: darkgray;
}

#inputTxt {
    width: fit-content;
    height: 40px;
}

.btn {
    width: 60px;
    height: 40px;
    margin: 8px;
}

.div-squad {
    width: 1000px;
    height: 650px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div-img {
    width: 1000px;
    height: 650px;
    position: absolute;
    text-align: center;
}

.bg-img {
    width: 1000px;
    height: 650px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.squad-content {
    width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 1;
}

.position {
    width: 96px;
    height: 96px;
    position: absolute;
    padding: 16px;
    text-align: center;
    border: 1px solid red;
    cursor: pointer;
}

.squad-text {
    width: 100%;
    height: 50px;
    position: absolute;
    color: white;
    font-size: 24px;
    text-align: right;
    top: 40px;
    padding: 16px;
    font-family: 'NEXON-Lv2-Gothic';
}

#gk {
    left: 452px;
    top: 530px;
}

#df1 {
    left: 232px;
    top: 400px;
}

#df2 {
    left: 382px;
    top: 400px;
}

#df3 {
    left: 532px;
    top: 400px;
}

#df4 {
    left: 682px;
    top: 400px;
}

#df5 {
    display: none;
}

#mf1 {
    left: 304px;
    top: 300px;
}

#mf2 {
    left: 454px;
    top: 280px;
}

#mf3 {
    left: 604px;
    top: 300px;
}

#mf4 {
    display: none;
}

#mf5 {
    display: none;
}

#fw1 {
    left: 304px;
    top: 160px;
}

#fw2 {
    left: 454px;
    top: 160px;
}

#fw3 {
    left: 604px;
    top: 160px;
}

#fw4 {
    display: none;
}

.pos-text {
    width: 60px;
    height: 15px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    z-index: 1;
}

.card-text {
    word-break: break-all;
    color: white;
    font-size: 10px;
    margin-top: 50px;
    font-family: 'NEXON-Lv2-Gothic';
}

.side-menu {
    width: fit-content;
    height: 600px;
    background: rgba(0, 0, 0, 0.75);
    padding: 8px;
    overflow: hidden;
}

.pos-name {
    width: 100%;
    height: 20px;
    color: white;
}

.div-title {
    color: white;
    text-align: left;
}

.div-bottom {
    width: 100%;
    height: 50px;
    margin-top: 100%;
    margin-bottom: auto;
}

.div-ul {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    font-family: 'NanumSquare'
}

.country-info > li > span {
    color: rgb(0, 137, 190);
}

.country-info > li a {
    color: rgb(0, 95, 219);
}

.country-info > li {
    background: whitesmoke;
    padding: 4px;
    border: 1px solid rgb(216, 216, 216);
}

.country-info > li:nth-child(2n) {
    background: rgb(235, 235, 235);
}

.country-images {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.country-images > div {
    display: none;
    overflow: hidden;
}

.div-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.flag-img {
    box-shadow: 0px 0px 15px 4px rgb(223, 223, 223);
    object-fit: contain;
}

.div-coa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    background: #fff;
}

.div-loading {
    position: absolute;
    z-index: -1;
}

.coatOfArms {
    object-fit: contain;
}

.divider {
    width: 100%;
    height: 0px;
    padding: 0px;
}