@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'NEXON-Lv2-Gothic';
    src: url('./resources/NEXON-Lv2-Gothic.otf') format('opentype');
}

* { padding: 0; margin: 0;}

.main-content {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-family: 'NanumSquare';
}

ul {
    list-style: none;
}

.inputs {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-bottom: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.search-list {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    list-style: none;
    display: none;
}

.search-list > li {
    height: auto;
    background: rgb(240, 240, 240);
    padding: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'NanumSquare';
    text-align: left;
}

.search-list > li > img {
    vertical-align: middle;
    margin: 2px;
    object-fit: contain;
}

.search-list > li:nth-child(2n) {
    background: rgb(226, 226, 226);
}

.search-list > li:hover {
    background: darkgray;
}

#inputTxt {
    height: 40px;
}

.btn {
    width: 60px;
    height: 40px;
    margin: 8px;
}

.div-squad {
    width: 1000px;
    height: 650px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div-img {
    width: 1000px;
    height: 650px;
    position: absolute;
    text-align: center;
}

.bg-img {
    width: 1000px;
    height: 650px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.squad-content {
    width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 1;
}

.position {
    width: 96px;
    height: 96px;
    position: absolute;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.squad-text {
    width: 100%;
    height: 50px;
    position: absolute;
    color: white;
    font-size: 24px;
    text-align: right;
    top: 40px;
    padding: 16px;
    font-family: 'NEXON-Lv2-Gothic';
}

#gk {
    left: 452px;
    top: 530px;
    border: 1px solid red;
}

#df1 {
    left: 232px;
    top: 400px;
    border: 1px solid red;
}

#df2 {
    left: 382px;
    top: 400px;
    border: 1px solid red;
}

#df3 {
    left: 532px;
    top: 400px;
    border: 1px solid red;
}

#df4 {
    left: 682px;
    top: 400px;
    border: 1px solid red;
}

#df5 {
    display: none;
    border: 1px solid red;
}

#mf1 {
    left: 304px;
    top: 300px;
    border: 1px solid red;
}

#mf2 {
    left: 454px;
    top: 280px;
    border: 1px solid red;
}

#mf3 {
    left: 604px;
    top: 300px;
    border: 1px solid red;
}

#mf4 {
    display: none;
    border: 1px solid red;
}

#mf5 {
    display: none;
    border: 1px solid red;
}

#fw1 {
    left: 304px;
    top: 160px;
    border: 1px solid red;
}

#fw2 {
    left: 454px;
    top: 160px;
    border: 1px solid red;
}

#fw3 {
    left: 604px;
    top: 160px;
    border: 1px solid red;
}

#fw4 {
    display: none;
}

.pos-text {
    width: 60px;
    height: 15px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    z-index: 1;
}

.card-text {
    word-break: break-all;
    color: white;
    font-size: 10px;
    margin-top: 50px;
    font-family: 'NEXON-Lv2-Gothic';
}

.side-menu {
    width: fit-content;
    height: 600px;
    background: rgba(0, 0, 0, 0.75);
    padding: 8px;
    overflow: hidden;
}

.pos-name {
    width: 100%;
    height: 20px;
    color: white;
}

.div-title {
    color: white;
    text-align: left;
}

.div-bottom {
    width: fit-content;
    height: fit-content;
    display: block;
}

.div-data {
    width: fit-content;
    height: auto;
}

.player-info {
    width: 200px;
    height: fit-content;
    display: none;
    position: absolute;
    background: whitesmoke;
    color: black;
    z-index: 1;
    padding: 8px;
    border: 2px solid grey;
}

.info-list {
    width: 100%;
    text-align: left;
}

.info-list > li {
    background: rgb(240, 240, 240);
}

.info-list > li:nth-child(2n) {
    background: rgb(226, 226, 226);
}

.career-list {
    overflow-y: auto;
}


.div-career {
    width: fit-content;
    height: 100px;
}