@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* { padding: 0; margin: 0;}

.main-content {
    height: fit-content;
    overflow: hidden;
    padding: 16px;
    align-items: center;
    justify-content: center;
    font-family: 'NanumSquare';
}

ul {
    list-style: none;
}

@media (max-width: 640px) {
    .div-info {
        height: 800px;
    }
    .div-flag {
        width: 100%;
        height: 200px;
    }
    .div-coa {
        width: 100%;
        height: 200px;
    }
    .flag-img {
        width: 120px;
    }
    .coatOfArms {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 992px) {
    .div-info {
        height: 800px;
    }
    .div-flag {
        width: 318px;
        height: 308px;
    }
    .div-coa {
        width: 318px;
        height: 308px;
    }
    .flag-img {
        width: 200px;
    }
    .coatOfArms {
        width: 300px;
        height: 300px;
    }
}

.inputs {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-bottom: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.search-list {
    width: fit-content;
    height: calc(100% - 100px);
    overflow-y: auto;
    list-style: none;
    box-shadow: 0px 4px 10px 4px rgb(221, 221, 221); 
}

.search-list > li {
    height: auto;
    background: rgb(240, 240, 240);
    padding: 4px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'NanumSquare'
}

.search-list > li > img {
    vertical-align: middle;
    margin: 2px;
}

.search-list > li:nth-child(2n) {
    background: rgb(226, 226, 226);
}

.search-list > li:hover {
    background: darkgray;
}

#inputTxt {
    width: fit-content;
    height: 40px;
}

.btn {
    width: 60px;
    height: 40px;
    margin: 8px;
}

.card-table tr td img {
    width: 50px;
}

.div-list {
    height: 100%;
    overflow-y: auto;
}

.card-table {
    border-spacing: 10px;
    text-align: center;
}

.card-table th, td {
    padding: 8px;
    border: 1px solid black;
}

.div-info {
    width: fit-content;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

.div-ul {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    font-family: 'NanumSquare'
}

.close {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 15px;
}

th {
    background: lightgray;
}

td.soon {
    background: lightyellow;
}